:root {
  --nitro-ad-height: 0px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#nitro-bottom-banner-ad {
  pointer-events: none !important;
}

#nitro-bottom-banner-ad iframe,
#nitro-bottom-banner-ad [data-report] {
  pointer-events: auto !important;
}
